/* Formulário */

form {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  border-color: #535bf2 !important;
  border: solid;
  border-width: 2px;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  
}
label{
  color: black;
  font-size: 18px;
}

select {
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
border-color: blue;
background-color: white;
color: black
}
.form-select {
  display: inline-block;
  width: calc(50% - 5px);
  margin-right: 10px;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  appearance: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000'%3E%3Cpath d='M12 17.5l-6-6 1.5-1.5L12 14.5l4.5-4.5 1.5 1.5z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 1.5rem 1.5rem;
}

.form-checkbox {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.form-submit {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #3e8e41;
}

/* Página */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./foto-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
}
#containerhome{
  background-color: #cecdcd !important;
  margin-top: 300px;
}
.container {
  background-color: #606464cc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.301);
  max-width: 600px;
  text-align: center;
  padding: 50px 120px 50px 120px;
  /* max-width: none; */
  /* margin-top: 90px; */
  margin-left: 10px;
	margin-right: 10px;
	background-color: white;
}

.container h2 {
  margin-bottom: 50px;
  font-size: 1.9em;
  color: blue
}

.container p {
  margin-bottom: 10px;
}
p {
  color: black !important;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td, th {
  text-align: left;
  padding: 8px;
  font-size: 16px;
}

th {
  color: #343E56;
  font-weight: 600;
  background-color: #e5eaf4;
}

/* Responsividade */

@media screen and (max-width: 768px) {
  .container {
    padding: 30px;
  }
  
  .form-select {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .form-checkbox {
    display: block;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
  }
  
  .inputs-container {
    display: flex;
    flex-direction: row;
  }
  
  .pergunta-esquerda {
    margin-right: 20px;
  }
  
  .pergunta-direita {
    margin-left: 20px;
  }

  .page-number {
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
  }
}


@media screen and (max-width: 900px) {

  .hug {
  min-width: 800px;
padding-left: 500px;
padding-top: 500px;
}

.hquatro{
  text-align: center;
  display: flex;
}

.titulo {
  max-width: 580px;

}


.mesa{
    overflow-x: auto;
    display: block;
    border-spacing: 10px; 
    width: 100%;
}

.bolinhas{
  padding-left: 40px;
}

}
button {
  border-color: blue;
  color: white !important;
  margin-top: 15px;
  background-color: blue !important;
}



/* Inputs */

input#municipioAtua {

  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-color: blue;
  border-width: 1px;
  background-color: white;
  color: black

}


input#dataNascimento{
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-color: blue;
  border-width: 1px;
  background-color: white;
  color: black

}

input#cpf {

  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-color: blue;
  border-width: 1px;
  background-color: white;
  color: black

}


#containerquest{
    margin-top: 60px;
    /* margin-right: 60px; */
}